body {
    background-color: hsl(218, 28%, 13%);
    color: white;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
   
    /*
    background-image:url("images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 9.5%;
    background-size: auto;
*/
}
.container {
    width: 85%;
    margin: auto;
    position: relative;
    
   
}
.section1 {
    background-color: hsl(217, 11%, 64%);
   
}
.header {
    background-color: hsl(217, 11%, 64%);
    height:auto;
    display: flex;
    margin-top: 1em;
}

.header img {
    height: 2em;
    align-self: center;
}

.header_info {
    display: flex;
    margin-left: 3em;
}

.header_info p {
    margin-left: 1.6em;
    font-weight: 400px;
    font-size: 12px;
}

.curve_mobile{
    position: absolute;
    width: 100%;
    margin-top: 45%;
    margin-left: -50%;
    z-index: 0;
}

.illustration-intro {
    width: 80%;
    height: 80%;
    margin: auto;
}

.row {
    
    line-height: 1.6em;
    display: flex;
    margin: auto;
    margin-top: 5em;
    flex-direction: column;
}

#row1 {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

#row1 p {
    margin: auto;
    text-align: center;
    margin-top: 1em;
}

.intro {
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 1.2em;
}

.get_started_button {
    background-color: hsl(198, 60%, 50%);
    border-radius: 1em;
    border-style: none;
    width: 17em;
    height: 2em;
    margin: auto;
    color: white;
    margin-top: 1em;
}

#fylo_description {
    text-align: start;
}

.comments {
    text-align: start;
}

.get_started_button:hover {
    background-color: hsl(176, 68%, 64%);
}

.intro_header {
    font-weight: 700;
}

.icons {
    margin: auto;
    margin-top: 2em;
    height: 4em;
    width: 5em;
}

#security_img{
    height: 5em;
    width: 4em;
}
.outer_link::before {
    color: hsl(176, 68%, 64%);
}

.outer_link {
    color: hsl(176, 68%, 64%);
}

.early_access{
    background-color: hsl(217, 28%, 15%);
    padding-bottom: 2em;
}

.email_input{
    width: 17em;
    height: 2em;
    border-radius: 1em;
    border-style: none;
    text-align:start;
    text-indent: 1em;
}

ul {
    list-style-type: none;
    text-align: start;
}



.attribution {
    font-size: 11px;
    text-align: center;
}


.attribution a {
    color: hsl(228, 45%, 44%);
}


@media only screen and (min-width: 375px) {}